<% if current_user.try(:admin?)%>
<table>
      <tr>
        <% if current_user.try(:email) == "bpadron2000@gmail.com" %>
            <%= link_to("New Admin ", new_admins_path ) %>
            <%= link_to("New Potw ", new_potws_path) %>
            <%= link_to("New Video ", new_videos_path) %>
            <%= link_to("New Game ", new_games_path) %>
        <% end %>
      </tr>
      <tr>
        <%= link_to("Replace Picture of the week ", edit_potws_path) %>
        <%= link_to("Replace Video of the week", edit_videos_path) %>
      </tr>
    <% @admins.each do |a| %>
      <tr>
        <td>
        <h2><%= a.email %></h2>
        </td>
        <td>
          <% if current_user.email == a.email || current_user.email == "bpadron2000@gmail.com"%>
            <%= link_to("Show Info", {:action => 'show', :id => a.id}, :class => "action show")%>

            <%= link_to("Edit", {:action => 'edit', :id => a.id}, :class => "action edit")%>

            <%= link_to("Delete", {:action => 'delete', :id => a.id}, :class => "action delete")%>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>
<% else %>
    <h1>You do not have access to this page.</h1>
    <% if current_user.try(:email) %>
        <p> Currently logged in as <%= current_user.try(:email) %> </p>
        <%= link_to "Back to home page", root_path %>
    <% else %>
        <p>You may need to <a href="/users/sign_in">log in</a></p>
        <%= link_to "Back to home page", root_path %>
    <% end %>
<% end %>