<% if current_user.try(:admin?)%>
<%= form_for(@video, :url => {:action => 'update', :id => @video.id}) do |v| %>
    <%= v.label :url %>
    <%= v.text_field :url %>
    <%= v.submit "Update Video" %>
<% end %>
<% else %>
    <h1>You do not have access to this page.</h1>
    <% if current_user.try(:email) %>
        <p> Currently logged in as <%= current_user.try(:email) %> </p>
        <%= link_to "Back to home page", root_path %>
    <% else %>
        <p>You may need to <a href="/users/sign_in">log in</a></p>
        <%= link_to "Back to home page", root_path %>
    <% end %>
<% end %>