<h1>Games</h1>

<% if current_user.try(:admin?)%>
<%= link_to("Add Game", {:action => 'new'}, :class => "action new")%>
<% end %>

<table>
<% @games.each do |g| %>
<tr>
  <td class="title">
    <h2><%= g.title %></h2>
  </td>
  <td class="index">
    <a href="<%= g.game %>"><img src="<%= g.image %>" height="200px" width="200px"></a>
  </td>
  <td class="actions">
    <%= link_to("Show Info", {:action => 'show', :id => g.id}, :class => "action show")%>

    <%= link_to("Edit", {:action => 'edit', :id => g.id}, :class => "action edit")%>

    <%= link_to("Delete", {:action => 'delete', :id => g.id}, :class => "action delete")%>
  </td>
</tr>
<% end %>
</table>



