<!DOCTYPE html>
<html>
<head>
  <title>Yunohavegames</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<a href="/">Home</a>
<a href="/games/index">Games</a>
<a href="/blog/index">Blog</a>
<a href="/potw/index">Photo of the Week</a>
<a href="/video/index">Videos</a>
<% if current_user.try(:admin?) %>
    <%= link_to "Admin Pages", admins_index_path %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% elsif current_user %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<br>

    <%= yield %>

</body>
</html>
